.app-container > main {
    margin-top: 8rem;
    padding-inline: 3rem;
}

header {
    background-color: transparent;
    backdrop-filter: blur(8px);
    border-style: solid;
    border-color: rgba(194, 224, 255, 0.08);
    border-width: 0px 0px thin;
    background-color: rgba(10, 25, 41, 0.8);
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.175);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.news-section {
    display: flex;
    margin-top: 4rem;
    text-decoration: none;
    color: white;
}

.img {
    width: 20rem;
    height: 23rem;
    object-position: center;
    object-fit: cover;
    border-radius: 12px;
    margin-inline-end: 3rem;
}

.news-img > figcaption {
    font-style: italic;
}

.news-details {
    /* background-color: aqua; */
    padding-block: 2rem;
}

.news-details > h1 {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

.news-details .news-description {
    /* max-width: 500px; */
    text-align: justify;
    margin-block-end: 1.5rem;
}

.news-details .news-story {
    font-size: 16.5px;
    font-weight: 400;
    display: flex;
    text-align: center;
    color: #748da8;

    transition: all 0.5 ease;
}

.news-story svg {
    margin-inline-end: 10px;
}

.news-story:hover {
    text-decoration: none;
}

.news-story:active {
    opacity: 0.5;
}

.location {
    display: flex;
    align-items: center;
    margin-block-end: 10px;
    /* background-color: blue; */
}

.location img {
    width: 10px;
    height: 14px;
}

.location svg {
    color: #007fff;
}

.location h4 {
    margin-inline-end: 2rem;
    color: rgb(178, 186, 194);
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.17em;
    margin-left: 6px;
    margin-block-start: 1px;
}

.location a {
    font-size: 16.5px;
    font-weight: 400;
    color: #66b2ff;

    transition: all 0.5 ease;
}

.location a:hover {
    text-decoration: none;
}

.location a:active {
    text-decoration: none;
    opacity: 0.5;
}

.publish-date {
    display: flex;
    color: rgb(178, 186, 194);
    font-size: 16px;
    margin-bottom: 30px;
    align-items: center;
}

.publish-date section {
    display: flex;
    align-items: center;
}

.publish-date .date {
    margin-inline-end: 7px;
    display: flex;
    align-items: center;
}

.publish-date .date svg,
.publish-date .time svg {
    width: 17px;
    height: 15px;
    margin-bottom: 1px;
    margin-inline: 2px;
}

.publish-date .time {
    display: flex;
    align-items: center;
}
